<header id="page-header">
	<div id="masthead">
		<h1><%= link_to 'Furcons', root_path %></h1>
	</div>
		<nav>
			<p>
				<%= link_to "Tweet Us!", "http://twitter.com/pragmaticstudio" %>
			</p>
		</nav>
</header>