<aside id="sidebar">
	<nav>
		<ul>
			<li class="all-furcons">
				<%= link_to 'All Furcons', furcons_path, class: 'button' %>
			</li>
			<li class="create-furcon">
				<%= link_to 'Add New Furcon', new_furcon_path, class: 'button' %>
			</li>
		</ul>
	</nav>
</aside>